# Dependencias
node_modules/

# Angular
.angular/
dist/

# NestJS
coverage/

# Variables de entorno
.env
.env.*

# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# VS Code (opcional)
.vscode/settings.json

# Carpeta de imágenes
uploads/*
!uploads/.gitkeep