# Dependencies
**/node_modules/

# Builds and caches
**/dist/
**/.angular/
**/coverage/

# Environment variables
**/.env
**/.env.*
!**/.env.example

# Logs
*.log
npm-debug.log*

# Editors and operating system
.vscode/
.DS_Store
Thumbs.db