<mat-sidenav-container class="app-container">
  <mat-sidenav
    class="sidebar"
    mode="side"
    [opened]="sidebarOpened()"
  >
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content class="app-content">
    <mat-toolbar class="toolbar">
      <button
        mat-icon-button
        type="button"
        matTooltip="Mostrar u ocultar menú"
        aria-label="Mostrar u ocultar menú"
        (click)="toggleSidebar()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <div class="toolbar__title">
        <span>Panel administrativo</span>
        <small>Sistema de Gestión del Patrimonio Cultural</small>
      </div>

      <span class="toolbar__spacer"></span>

      <button
        mat-icon-button
        type="button"
        matTooltip="Notificaciones"
        aria-label="Notificaciones"
      >
        <mat-icon>notifications_none</mat-icon>
      </button>

@if (usuario(); as usuarioActual) {
  <div class="user-session">
    <div class="user-button">
      <span class="user-avatar">
        {{ obtenerIniciales() }}
      </span>

      <span class="user-information">
        <strong>
          {{ obtenerNombreCompleto() }}
        </strong>

        <small>
          {{ obtenerNombreRol() }}
        </small>
      </span>
    </div>

    <button
      mat-icon-button
      type="button"
      matTooltip="Cerrar sesión"
      aria-label="Cerrar sesión"
      (click)="cerrarSesion()"
    >
      <mat-icon>logout</mat-icon>
    </button>
  </div>
}
    </mat-toolbar>

    <main class="page-content">
      <router-outlet></router-outlet>
    </main>

    <footer class="footer">
      © 2026 GADM Zamora · SIGPAC
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
